
@font-face {
    font-family: lastresort;
    src: url('fonts/LastResort.ttf  ') ;
    unicode-range: U+??;
}

@font-face {
    font-family: notokufiarabic-regular;
    src: url('fonts/noto_unhinted/NotoKufiArabic-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notonaskharabic-regular;
    src: url('fonts/noto_unhinted/NotoNaskhArabic-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notonaskharabicui-regular;
    src: url('fonts/noto_unhinted/NotoNaskhArabicUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notonastaliqurdu-regular;
    src: url('fonts/noto_unhinted/NotoNastaliqUrdu-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosans-regular;
    src: url('fonts/noto_unhinted/NotoSans-Regular.ttc   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosans-regular;
    src: url('fonts/noto_unhinted/NotoSans-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansarmenian-regular;
    src: url('fonts/noto_unhinted/NotoSansArmenian-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansavestan-regular;
    src: url('fonts/noto_unhinted/NotoSansAvestan-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbalinese-regular;
    src: url('fonts/noto_unhinted/NotoSansBalinese-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbamum-regular;
    src: url('fonts/noto_unhinted/NotoSansBamum-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbatak-regular;
    src: url('fonts/noto_unhinted/NotoSansBatak-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbengali-regular;
    src: url('fonts/noto_unhinted/NotoSansBengali-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbengaliui-regular;
    src: url('fonts/noto_unhinted/NotoSansBengaliUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbrahmi-regular;
    src: url('fonts/noto_unhinted/NotoSansBrahmi-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbuginese-regular;
    src: url('fonts/noto_unhinted/NotoSansBuginese-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansbuhid-regular;
    src: url('fonts/noto_unhinted/NotoSansBuhid-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscanadianaboriginal-regular;
    src: url('fonts/noto_unhinted/NotoSansCanadianAboriginal-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscarian-regular;
    src: url('fonts/noto_unhinted/NotoSansCarian-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscham-regular;
    src: url('fonts/noto_unhinted/NotoSansCham-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscherokee-regular;
    src: url('fonts/noto_unhinted/NotoSansCherokee-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscoptic-regular;
    src: url('fonts/noto_unhinted/NotoSansCoptic-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscuneiform-regular;
    src: url('fonts/noto_unhinted/NotoSansCuneiform-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscypriot-regular;
    src: url('fonts/noto_unhinted/NotoSansCypriot-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansdeseret-regular;
    src: url('fonts/noto_unhinted/NotoSansDeseret-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansdevanagari-regular;
    src: url('fonts/noto_unhinted/NotoSansDevanagari-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansdevanagariui-regular;
    src: url('fonts/noto_unhinted/NotoSansDevanagariUI-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansegyptianhieroglyphs-regular;
    src: url('fonts/noto_unhinted/NotoSansEgyptianHieroglyphs-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansethiopic-regular;
    src: url('fonts/noto_unhinted/NotoSansEthiopic-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansgeorgian-regular;
    src: url('fonts/noto_unhinted/NotoSansGeorgian-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansglagolitic-regular;
    src: url('fonts/noto_unhinted/NotoSansGlagolitic-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansgothic-regular;
    src: url('fonts/noto_unhinted/NotoSansGothic-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansgujarati-regular;
    src: url('fonts/noto_unhinted/NotoSansGujarati-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansgujaratiui-regular;
    src: url('fonts/noto_unhinted/NotoSansGujaratiUI-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansgurmukhi-regular;
    src: url('fonts/noto_unhinted/NotoSansGurmukhi-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansgurmukhiui-regular;
    src: url('fonts/noto_unhinted/NotoSansGurmukhiUI-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanshanunoo-regular;
    src: url('fonts/noto_unhinted/NotoSansHanunoo-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanshebrew-regular;
    src: url('fonts/noto_unhinted/NotoSansHebrew-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansimperialaramaic-regular;
    src: url('fonts/noto_unhinted/NotoSansImperialAramaic-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansinscriptionalpahlavi-regular;
    src: url('fonts/noto_unhinted/NotoSansInscriptionalPahlavi-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansinscriptionalparthian-regular;
    src: url('fonts/noto_unhinted/NotoSansInscriptionalParthian-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansjavanese-regular;
    src: url('fonts/noto_unhinted/NotoSansJavanese-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskaithi-regular;
    src: url('fonts/noto_unhinted/NotoSansKaithi-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskannada-regular;
    src: url('fonts/noto_unhinted/NotoSansKannada-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskannadaui-regular;
    src: url('fonts/noto_unhinted/NotoSansKannadaUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskayahli-regular;
    src: url('fonts/noto_unhinted/NotoSansKayahLi-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskharoshthi-regular;
    src: url('fonts/noto_unhinted/NotoSansKharoshthi-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskhmer-regular;
    src: url('fonts/noto_unhinted/NotoSansKhmer-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskhmerui-regular;
    src: url('fonts/noto_unhinted/NotoSansKhmerUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslao-regular;
    src: url('fonts/noto_unhinted/NotoSansLao-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslaoui-regular;
    src: url('fonts/noto_unhinted/NotoSansLaoUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslepcha-regular;
    src: url('fonts/noto_unhinted/NotoSansLepcha-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslimbu-regular;
    src: url('fonts/noto_unhinted/NotoSansLimbu-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslinearb-regular;
    src: url('fonts/noto_unhinted/NotoSansLinearB-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslisu-regular;
    src: url('fonts/noto_unhinted/NotoSansLisu-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslycian-regular;
    src: url('fonts/noto_unhinted/NotoSansLycian-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanslydian-regular;
    src: url('fonts/noto_unhinted/NotoSansLydian-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmalayalam-regular;
    src: url('fonts/noto_unhinted/NotoSansMalayalam-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmalayalamui-regular;
    src: url('fonts/noto_unhinted/NotoSansMalayalamUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmandaic-regular;
    src: url('fonts/noto_unhinted/NotoSansMandaic-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmeeteimayek-regular;
    src: url('fonts/noto_unhinted/NotoSansMeeteiMayek-Regular.ttf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmongolian-regular;
    src: url('fonts/noto_unhinted/NotoSansMongolian-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmyanmar-regular;
    src: url('fonts/noto_unhinted/NotoSansMyanmar-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmyanmarui-regular;
    src: url('fonts/noto_unhinted/NotoSansMyanmarUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansnko-regular;
    src: url('fonts/noto_unhinted/NotoSansNKo-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansnewtailue-regular;
    src: url('fonts/noto_unhinted/NotoSansNewTaiLue-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansogham-regular;
    src: url('fonts/noto_unhinted/NotoSansOgham-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansolchiki-regular;
    src: url('fonts/noto_unhinted/NotoSansOlChiki-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansolditalic-regular;
    src: url('fonts/noto_unhinted/NotoSansOldItalic-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansoldpersian-regular;
    src: url('fonts/noto_unhinted/NotoSansOldPersian-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansoldsoutharabian-regular;
    src: url('fonts/noto_unhinted/NotoSansOldSouthArabian-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansoldturkic-regular;
    src: url('fonts/noto_unhinted/NotoSansOldTurkic-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansoriya-regular;
    src: url('fonts/noto_unhinted/NotoSansOriya-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansoriyaui-regular;
    src: url('fonts/noto_unhinted/NotoSansOriyaUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansosmanya-regular;
    src: url('fonts/noto_unhinted/NotoSansOsmanya-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansphagspa-regular;
    src: url('fonts/noto_unhinted/NotoSansPhagsPa-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansphoenician-regular;
    src: url('fonts/noto_unhinted/NotoSansPhoenician-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansrejang-regular;
    src: url('fonts/noto_unhinted/NotoSansRejang-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansrunic-regular;
    src: url('fonts/noto_unhinted/NotoSansRunic-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssamaritan-regular;
    src: url('fonts/noto_unhinted/NotoSansSamaritan-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssaurashtra-regular;
    src: url('fonts/noto_unhinted/NotoSansSaurashtra-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansshavian-regular;
    src: url('fonts/noto_unhinted/NotoSansShavian-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssinhala-regular;
    src: url('fonts/noto_unhinted/NotoSansSinhala-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssundanese-regular;
    src: url('fonts/noto_unhinted/NotoSansSundanese-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssylotinagri-regular;
    src: url('fonts/noto_unhinted/NotoSansSylotiNagri-Regular.ttf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssymbols-regular;
    src: url('fonts/noto_unhinted/NotoSansSymbols-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssyriaceastern-regular;
    src: url('fonts/noto_unhinted/NotoSansSyriacEastern-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssyriacestrangela-regular;
    src: url('fonts/noto_unhinted/NotoSansSyriacEstrangela-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssyriacwestern-regular;
    src: url('fonts/noto_unhinted/NotoSansSyriacWestern-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstagalog-regular;
    src: url('fonts/noto_unhinted/NotoSansTagalog-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstagbanwa-regular;
    src: url('fonts/noto_unhinted/NotoSansTagbanwa-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstaile-regular;
    src: url('fonts/noto_unhinted/NotoSansTaiLe-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstaitham-regular;
    src: url('fonts/noto_unhinted/NotoSansTaiTham-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstaiviet-regular;
    src: url('fonts/noto_unhinted/NotoSansTaiViet-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstamil-regular;
    src: url('fonts/noto_unhinted/NotoSansTamil-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstamilui-regular;
    src: url('fonts/noto_unhinted/NotoSansTamilUI-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstelugu-regular;
    src: url('fonts/noto_unhinted/NotoSansTelugu-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansteluguui-regular;
    src: url('fonts/noto_unhinted/NotoSansTeluguUI-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansthaana-regular;
    src: url('fonts/noto_unhinted/NotoSansThaana-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansthai-regular;
    src: url('fonts/noto_unhinted/NotoSansThai-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansthaiui-regular;
    src: url('fonts/noto_unhinted/NotoSansThaiUI-Regular.ttf    ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstibetan-regular;
    src: url('fonts/noto_unhinted/NotoSansTibetan-Regular.ttf  ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstifinagh-regular;
    src: url('fonts/noto_unhinted/NotoSansTifinagh-Regular.ttf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansui-regular;
    src: url('fonts/noto_unhinted/NotoSansUI-Regular.ttf   ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansugaritic-regular;
    src: url('fonts/noto_unhinted/NotoSansUgaritic-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansvai-regular;
    src: url('fonts/noto_unhinted/NotoSansVai-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansyi-regular;
    src: url('fonts/noto_unhinted/NotoSansYi-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserif-regular;
    src: url('fonts/noto_unhinted/NotoSerif-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifarmenian-regular;
    src: url('fonts/noto_unhinted/NotoSerifArmenian-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifbengali-regular;
    src: url('fonts/noto_unhinted/NotoSerifBengali-Regular.ttf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifdevanagari-regular;
    src: url('fonts/noto_unhinted/NotoSerifDevanagari-Regular.ttf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifgeorgian-regular;
    src: url('fonts/noto_unhinted/NotoSerifGeorgian-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifgujarati-regular;
    src: url('fonts/noto_unhinted/NotoSerifGujarati-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifkannada-regular;
    src: url('fonts/noto_unhinted/NotoSerifKannada-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifkhmer-regular;
    src: url('fonts/noto_unhinted/NotoSerifKhmer-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoseriflao-regular;
    src: url('fonts/noto_unhinted/NotoSerifLao-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifmalayalam-regular;
    src: url('fonts/noto_unhinted/NotoSerifMalayalam-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoseriftamil-regular;
    src: url('fonts/noto_unhinted/NotoSerifTamil-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoseriftelugu-regular;
    src: url('fonts/noto_unhinted/NotoSerifTelugu-Regular.ttf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoserifthai-regular;
    src: url('fonts/noto_unhinted/NotoSerifThai-Regular.ttf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscjk-regular;
    src: url('fonts/noto_extra_cjk/NotoSansCJK-Regular.ttc ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscjkjp-regular;
    src: url('fonts/noto_extra_cjk/NotoSansCJKjp-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscjkkr-regular;
    src: url('fonts/noto_extra_cjk/NotoSansCJKkr-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscjksc-regular;
    src: url('fonts/noto_extra_cjk/NotoSansCJKsc-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanscjktc-regular;
    src: url('fonts/noto_extra_cjk/NotoSansCJKtc-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansjp-regular;
    src: url('fonts/noto_extra_cjk/NotoSansJP-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanskr-regular;
    src: url('fonts/noto_extra_cjk/NotoSansKR-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmonocjkjp-regular;
    src: url('fonts/noto_extra_cjk/NotoSansMonoCJKjp-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmonocjkkr-regular;
    src: url('fonts/noto_extra_cjk/NotoSansMonoCJKkr-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmonocjksc-regular;
    src: url('fonts/noto_extra_cjk/NotoSansMonoCJKsc-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosansmonocjktc-regular;
    src: url('fonts/noto_extra_cjk/NotoSansMonoCJKtc-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanssc-regular;
    src: url('fonts/noto_extra_cjk/NotoSansSC-Regular.otf ') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notosanstc-regular;
    src: url('fonts/noto_extra_cjk/NotoSansTC-Regular.otf') ;
    unicode-range: U+??;
}
      
@font-face {
    font-family: notoemoji-regular;
    src: url('fonts/noto_emojis/NotoEmoji-Regular.ttf') ;
    unicode-range: U+??;
}
/*      
@font-face {
    font-family: notocoloremoji;
    src: url('fonts/noto_emojis/NotoColorEmoji.ttf') ;
    unicode-range: U+??;
}
*/